pkgbase = netatalk
	pkgdesc = A kernel-level implementation of AFP services
	pkgver = 3.1.5
	pkgrel = 1
	url = http://netatalk.sourceforge.net
	install = netatalk.install
	changelog = netatalk.changelog
	arch = i686
	arch = x86_64
	license = GPL
	depends = avahi>=0.6
	depends = libldap
	depends = libgcrypt>=1.2.3
	depends = libevent
	depends = python
	depends = dbus-glib
	replaces = netatalk-git
	replaces = netatalk2
	options = !libtool
	backup = etc/afp.conf
	backup = etc/extmap.conf
	source = http://downloads.sourceforge.net/project/netatalk/netatalk/3.1.5/netatalk-3.1.5.tar.bz2
	sha256sums = 7ea2f32c990f3889503f35b2ccf9373fe027857c6a8ce40f857b1738832f2f00

pkgname = netatalk

